/* HomePage */
.home-page > section {
    padding: 20px;
}

.home-page__types {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 20px;
}

/* Type */
.type__title {
    display: none; /* Removed title styling */
}

.type__calls {
    display: flex;
    gap: 30px;
    padding: 20px 10px;
    overflow-x: auto;
}

/* TypeCall */
.type-call {
    inset: 0;
    text-decoration: none;
    color: inherit;
    transition: transform 400ms ease-out;
}

.type-call:hover,
.type-call:focus {
    outline: none;
    transform: scale(1.035);
}

.type-call__container {
    margin: 0;
    position: relative;
    width: 330px;
    height: 490px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.type-call__container__card--state-unavailable {
    opacity: 50%;
    transition: opacity 400ms ease-in;
}

.type-call__container__card__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: calc(100% - 40px); /* Ajustar la altura del contenedor de la imagen */
}

.type-call__container__card__title {
    display: none; /* Ocultamos el título */
}

.type-call__container__card__left__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.type-call:hover .type-call__container__card--state-unavailable,
.type-call:focus .type-call__container__card--state-unavailable {
    opacity: 100%;
}