.home-page > section {
    padding: 20px;
}

.home-page__types {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 20px;
}

.type__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
}

.type__calls {
    display: flex;
    gap: 30px;
    padding: 20px 10px;
    overflow-x: auto;
}

.type-call {
    inset: 0;
    text-decoration: none;
    color: inherit;
    transition: transform 400ms ease-out;
}

.type-call:hover,
.type-call:focus {
    outline: none;
    transform: scale(1.035);
}

.type-call__container {
    margin: 0;
    position: relative;
    width: 330px;
    height: 490px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.type-call__container__card {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.type-call__container__card__left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.type-call__container__card__left__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.type-call__container__card__title {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 18px;
    color: white;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.type-call:hover .type-call__container__card--state-unavailable,
.type-call:focus .type-call__container__card--state-unavailable {
    opacity: 100%;
}