/* HomePage */
.home-page > section {
    padding: 20px;
}

.home-page__types {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 20px;
}

/* Type */
.type__title {
    font-size: 1.2rem;
    font-weight: 600;
}

.type__calls {
    display: flex;
    gap: 30px;
    padding: 20px 10px;
    overflow-x: auto;
}

/* TypeCall */
.type-call {
    inset: 0;
    text-decoration: none;
    color: inherit;
    transition: transform 400ms ease-out;
}

.type-call:hover,
.type-call:focus {
    outline: none;
    transform: scale(1.035);
}

.type-call__container {
    margin: 0; /* Añade esta línea para eliminar los márgenes */
    position: relative;
    padding: 20px;
    width: 330px;
    height: 490px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0 , 0, 0.4);
    overflow: hidden;
}

.type-call__container__card--state-unavailable {
    opacity: 50%;
    transition: opacity 400ms ease-in;
}
.type-call__container__card__left {
    display: flex;
    flex-direction: column;
    align-items: center; /* Para centrar verticalmente los elementos */
    text-align: center; /* Para centrar el texto horizontalmente */
}
.type-call__container__card__title {
    font-size: 1rem; /* Tamaño de fuente del título */
    font-weight: 600; /* Peso de fuente del título */
    margin-top: 10px; /* Margen superior de 10px */
    text-align: center; /* Para centrar el texto horizontalmente */
    margin-bottom: 10px;
}
.type-call__container__card__left__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.type-call:hover .type-call__container__card--state-unavailable,
.type-call:focus .type-call__container__card--state-unavailable {
    opacity: 100%;
}

.type-call__container__card__left__image {
    width: 100%;
    height: 100%; /* Cambiado de 190px a 100% */
    object-fit: cover;
    border-radius: 8px; /* Movido de .type-call__container__card__left__image a .type-call__container */
}