.product-description {
  display: block; /* Asegura que se muestre en una nueva línea */
  text-align: justify;
  padding: 0 30px;
  margin-bottom: 10px; /* Añadir un margen inferior para crear espacio entre la descripción y la disponibilidad */
}

.product-availability {
  display: block; /* Asegura que se muestre en una nueva línea */
  margin-top: 20px; /* Puedes ajustar este valor según sea necesario */
  font-size: 16px;
  font-weight: bold;
}

.product-availability.available {
  color: green;
}

.product-availability.not-available {
  color: red;
}

/* Estilos para el contenedor de la categoría de libros */
.book-category {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f88da4;
}

/* Estilos para el enlace a la página de la categoría de libros */
.book-category__link {
  text-decoration: none;
  color: #333;
}

/* Estilos para el contenido de la categoría de libros */
.book-category__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilos para el nombre de la categoría */
.book-category__name {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #E0E4E5;
  font-family: 'Open Sans', sans-serif;
}

.wrap {
  max-width: 1100px;
  width: 90%;
  margin: auto;
}

.wrap > h1 {
  color: #494B4D;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 15px 0px;
}

.wrap > h1:after {
  content: '';
  width: 100%;
  height: 1px;
  background: #C7C7C7;
  margin: 20px 0;
}

.store-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.category_list {
  display: flex;
  flex-wrap: wrap; /* Permitir que los elementos se envuelvan si no caben en una sola fila */
  justify-content: center; /* Centrar los elementos horizontalmente */
  margin-bottom: 50px; /* Agregar un margen inferior para separar los botones de la lista de productos */
  margin-top: 20px; /* Agregar margen superior */
}

.category_list .category_item {
  display: block;
  width: 90%;
  padding: 25px 0; /* Aumentar aún más el padding para hacer los botones más grandes */
  margin-bottom: 20px;
  width: 200px; /* Ancho aumentado */
  height: 50px; /* Altura aumentada */
  background: #E84C3D;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 20px; /* Aumentar aún más el tamaño de la fuente */
  border-radius: 10px; /* Redondear los bordes */
}

.category_list .ct_item-active {
  background: #84b3e5;
}

.category-item {
  margin: 0 10px; /* Añadir margen a los lados para separar los botones */
  padding: 8px 16px;
  font-size: 16px;
<<<<<<< HEAD
  background-color: #dfac7d;
=======
  background-color: #cf8282;
>>>>>>> feature/categories
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.category-item:hover,
.category-item.ct_item-active {
  background-color: #f07808; /* Cambiar el color de fondo al pasar el ratón o cuando está seleccionado */
}

.category_list .category_item:hover,
.category_list .category_item.ct_item-active {
  background-color: #f07808;
}

/* PRODUCTOS */

.products-list {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.category-list .category-item {
  display: flex;
  justify-content: center; 
  margin-bottom: 20px;
}

.products-list .product-item {
  width: 22%;
  margin-left: 10%;
  margin-bottom: 100px;
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.22);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  transition: all .4s;
}

.products-list .product-item img {
  width: 320px;
  height: 500px; /* Ajusta la altura deseada */
  object-fit: cover;
}

.products-list .product-item a {
  display: block;
  width: 100%;
<<<<<<< HEAD
  padding: 20px 10px 16px;
  background: #ecad64;
  color: #fff;
  text-align: center;
  text-decoration: none;
=======
  padding: 18px 10px; /* Ajuste del padding */
  background: #cf8282;
  color: #fff;
  text-align: center;
  text-decoration: none;
  line-height: 1.5; /* Centrar el texto verticalmente */
>>>>>>> feature/categories
}

/* RESPONSIVE */

@media screen and (max-width: 1100px) {
  .products-list .product-item {
    width: 30.3%;
  }
}

@media screen and (max-width: 900px) {
  .category_list,
  .products-list {
    width: 100%;
  }

  .category_list {
    flex-direction: row;
    justify-content: space-between;
  }

  .category_list .category_item {
    align-self: flex-start;
    width: 15%;
    font-size: 14px;
  }

  .products-list .product-item {
    margin-left: 4.5%;
  }

  .products-list .product-item:nth-child(3n+1) {
    margin-left: 0px;
  }
}

@media screen and (max-width: 700px) {
  .category_list {
    flex-direction: column;
  }

  .category_list .category_item {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 600px) {
  .products-list .product-item {
    width: 47.5%;
  }

  .products-list .product-item:nth-child(3n+1) {
    margin-left: 4.5%;
  }

  .products-list .product-item:nth-child(2n+1) {
    margin-left: 0px;
  }
}

@media screen and (max-width: 350px) {
  .products-list .product_item {
    width: 100%;
    margin-left: 0px;
  }
}