.detail-container {
<<<<<<< HEAD
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.product-item {
  display: flex;
  max-width: 1400px; 
  width: 100%;
  background: #ffffff;
  padding: 30px; 
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); 
  align-items: flex-start;
  flex-direction: row;
}

.product-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 250px; 
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: contain;
}

.product-details {
  flex: 2;
  margin-left: 30px; 
}

.product-title {
  font-size: 2.5rem; 
  font-weight: bold;
  margin: 0 0 20px; 
  text-align: center;
}

.product-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px; 
}

.product-info-label {
  font-weight: bold;
  flex: 1;
}

.product-info-value {
  flex: 2;
}

.product-info-description {
  margin-top: 20px; 
  width: 100%;
}

.description-summary {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #000; 
}

.product-description,
.product-summary {
  flex: 1;
  text-align: justify;
  color: #000; 
  margin-top: 10px;
}

.product-info-description strong {
  font-weight: bold;
  color: #000; 
}

.product-availability {
  font-size: 1.2rem; 
  margin-bottom: 20px; 
  text-align: center;
}

.product-availability.available {
  color: green;
}

.product-availability.not-available {
  color: red;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 30px; 
  width: 100%;
}

.button {
  padding: 12px 24px; 
  margin: 0 30px; 
  font-size: 1.2rem; 
  text-decoration: none;
  color: #fff;
  background-color: #cf8282;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

.recommendations {
  margin-top: 50px; 
  width: 100%;
  max-width: 1400px; 
  text-align: left; 
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}

.recommendations h3 {
  font-size: 1.8rem; 
  margin-bottom: 20px;
}

.recommendation-items {
  display: flex;
  justify-content: space-between; 
  flex-wrap: wrap;
  width: 100%;
}

.recommendation-item {
  max-width: 220px; 
  text-align: center;
  margin: 0 10px 30px; 
  transition: transform 0.3s ease;
  text-decoration: none;
  color: inherit;
}

.recommendation-item:hover {
  transform: scale(1.05);
}

.recommendation-image {
  width: 100%;
  max-width: 220px; 
  height: 350px;
  border-radius: 10px;
  object-fit: cover;
}

.recommendation-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 10px;
}

.recommendation-author {
  font-size: 1rem;
  color: #555;
}
=======
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px; 
  }
  
  .product-item {
    display: flex;
    max-width: 800px;
  }
  
  .product-image-container {
    flex: 1;
  }
  
  .product-image {
    width: 100%;
    max-width: 350px;
    height: auto;
  }
  
  .product-details {
    flex: 1;
    margin-left: 20px;
    text-align: justify;
  }
  
  .product-title {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
    text-align: center; 
  }
  .product-author {
    text-align: center; /* Centra el autor */
    margin-bottom: 5px; /* Agrega espacio inferior */
  }
  .product-description,
  .product-additional-description{
    text-align: justify;
    }
    
  .product-availability {
    font-size: 1rem;
    margin-bottom: 10px;
    text-align: center;
    
    
  }
  
  .product-availability.available {
    color: green;
    
  }
  
  .product-availability.not-available {
    color: red;
  }
  
  .buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 1rem;
    text-decoration: none;
    color: #fff;
    background-color: #cf8282;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
>>>>>>> ecd6bfd610331ee9e21a1f603581608615433a26
