.detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.product-item {
  display: flex;
  max-width: 800px;
  width: 100%;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  align-items: flex-start;
  flex-direction: row;
}

.product-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 10px;
}

.product-details {
  flex: 2;
  margin-left: 20px;
  text-align: justify;
}

.product-title {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 5px;
  text-align: center;
}

.product-author {
  text-align: center;
  margin-bottom: 5px;
}

.product-description,
.product-additional-description {
  text-align: justify;
}

.product-availability {
  font-size: 1rem;
  margin-bottom: 10px;
  text-align: center;
}

.product-availability.available {
  color: green;
}

.product-availability.not-available {
  color: red;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
  background-color: #cf8282;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}