#userlistcontainer {
    background-color: lightgrey;
    display: flex;
    align-content: baseline;
    width: 100%;
  }
  
  .main-content {
      display: flex;
      flex-direction: row;
      width: 100%;
      padding: 20px;
    }
  
    .user-list h1{
      padding: 10px;
      background-color: lightgrey;
      font-size: 18px;
    }
  
    .user-list #ulsc{
      margin: 20px  ;
      width: 97.5%;
    }
  
    .user-list #urh1 {
      margin: 20px;
    }
  
    .user-list{
      width: 100%;
      text-align: left;
    }
  
    .us-admincomp{
      margin: 20px;
    }
  
    .user-list #uls{
      margin: 20px;
    }