.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../../assets/images/liwru-login.png') no-repeat center center;
    background-size: cover;
    position: relative;
}

.login-card {
    display: flex;
    flex-direction: row;
    width: 50%;
    max-width: 1200px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-card__left-panel {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../../assets/images/background.jpg') no-repeat center center;
    background-size: cover;
}

.login-card__left-panel__transparency {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(225, 138, 143, 0.9);
}

.login-card__left-panel__logo {
    position: relative;
    z-index: 1;
    width: 50%;
    max-width: 200px;
}

.login-card__right-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 40px;
    background: #e59a9c;
    text-align: left;
}

.login-card__right-panel__signup-button {
    align-self: flex-end;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    background: rgba(255, 0, 0, 0.7);
    color: white;
    font-size: 0.9rem;
    cursor: pointer;
    margin-bottom: 20px;
}

.login-card__right-panel__input-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.login-card__right-panel__input-icon {
    margin-right: 10px;
    color: rgba(255, 0, 0, 0.7);
}

.login-card__right-panel__input {
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    width: 100%;
    font-size: 1rem;
    box-shadow: 0 3px 5px rgba(255, 0, 0, 0.7);
}

.login-card__right-panel__input:focus {
    outline: none;
}

.login-card__right-panel__forgot {
    color: white;
    font-size: 0.9rem;
    align-self: flex-end;
    text-decoration: none;
}

.login-card__right-panel__button {
    border: none;
    border-radius: 25px;
    width: 100%;
    background: rgba(255, 0, 0, 0.7);
    color: white;
    font-size: 1rem;
    cursor: pointer;
}