.call-page {
    padding: 20px;
    width: 950px;
}

.call-page__call__image {
    width: 100%;
    height: 400px;
    object-fit: contain;
    object-position: center;
}

.call-page__call__category {
    font-size: 0.8rem;
    text-align: center;
}

.call-page__call__title {
    text-align: center;
    margin-top: 15px;
    font-size: 1.1rem;
    font-weight: 600;
}

.call-page__call__description {
    margin-top: 10px;
    font-size: 0.9rem;
}

.call-page__call__availability {
    margin-top: 10px;
    font-size: 0.9rem;
    text-align: center; /* Para centrar el texto horizontalmente */
    display: flex; /* Para usar flexbox */
    justify-content: center; /* Para alinear el texto horizontalmente */
    align-items: center; /* Para alinear el texto verticalmente */
}

.call-page__call--state-unavailable .call-page__call__availability {
    color: red;
}

@media (max-width: 1000px) {
    .call-page {
        width: 100%;
    }
}