.register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../../assets/images/liwru-login.png') no-repeat center center;
    background-size: cover;
    position: relative;
}

.register-card {
    display: flex;
    flex-direction: row;
    width: 50%;
    max-width: 1200px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.register-card__left-panel {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../../assets/images/background.jpg') no-repeat center center;
    background-size: cover;
}

.register-card__left-panel__transparency {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(225, 138, 143, 0.9);
}

.register-card__left-panel__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 200px;
}

.register-card__right-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 40px;
    background: #e59a9c;
    text-align: left;
}

.register-card__input-container {
    position: relative;
    width: 100%;
}

.register-card__right-panel__input {
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    width: 100%;
    font-size: 1rem;
    box-shadow: 0 3px 5px rgba(255, 0, 0, 0.7);
}

.register-card__right-panel__button {
    border: none;
    border-radius: 25px;
    width: 100%;
    background: rgba(255, 0, 0, 0.7);
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.register-card__right-panel__button:hover {
    background-color: #c0392b;
}

.register-card__right-panel__label {
    display: block;
    text-align: justify;
    margin: 20px 0;
    font-size: 14px;
    color: #fff;
}

.register-card__right-panel__register {
    margin-top: 20px;
    color: #e74c3c;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
}

.register-card__right-panel__register:hover {
    color: #c0392b;
}


@media (max-width: 768px) {
    .register-card {
        flex-direction: column;
        width: 90%;
        min-width: unset;
    }

    .register-card__left-panel {
        display: none;
    }

    .register-card__right-panel {
        padding: 20px;
    }
}
