.nav {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 20px;
    height: 90px;
    box-shadow: 0 1px 4px rgba(0, 0 , 0, 0.25);
    background-color: #cf8282;
}

.nav__logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.nav__logo__icon {
    width: 30px;
}

.nav__logo__title {
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
}

.nav__links {
    display: flex;
    align-items: center;
}

.nav__link {
    margin: 0 15px;
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
}

.nav__link:hover,
.nav__link:focus {
    color: #ff0000; 
}

.nav__link.selected {
    color: #ff0000; 
}

.nav__search-bar {
    display: flex;
    align-items: center;
    width: 30vw;
    height: 100%;
    box-shadow: 0 0 5px rgba(0, 0 , 0, 0.5);
}

.nav__search-bar__input {
    padding: 0 10px;
    width: 100%;
    height: 100%;
    border: none;
    font-family: 'Poppins', sans-serif;
}

.nav__search-bar__input:focus {
    outline: none;
}

.nav__search-bar__button {
    width: 50px;
    height: 100%;
    border: none;
    background: transparent;
}


.nav__search-bar__button__icon {
    max-width: 50%;
    opacity: 0.5;
}