* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #E0E4E5;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #d38a8a;
    color: white;
    font-family: 'Arial', sans-serif;
    width: 100%;
    margin-top: auto;
}

.footer__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px 0;
}

.footer__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.footer__logo__icon {
    width: 400px;
    height: auto;
}

.footer__tagline {
    font-size: 1rem;
    font-style: italic;
    margin-top: 5px;
}

.footer__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.footer__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

.footer__section-title {
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.footer__link {
    color: white;
    text-decoration: none;
    margin-bottom: 5px;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.footer__social-icon__image {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.footer__social-icon__image:hover {
    transform: scale(1.2);
}

.footer__text {
    font-size: 1rem;
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

@media (min-width: 768px) {
    .footer__content {
        flex-direction: row;
        padding: 20px;
    }

    .footer__logo {
        align-items: flex-start;
        margin-bottom: 0;
    }

    .footer__links {
        flex-direction: row;
        justify-content: space-between;
        width: 60%;
    }

    .footer__section {
        align-items: flex-start;
        margin: 0 20px;
    }

    .footer__social-media {
        justify-content: flex-end;
        margin-left: 40px;
        margin-top: 0;
    }
}

@media (min-width: 1024px) {
    .footer__logo__icon {
        width: 100px;
        height: auto;
    }
}
