.update-pwd-page__form {
    background: #E59A9C;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: none;
    box-shadow: none;
}

.update-pwd-page__right-panel__input {
    padding: 10px;
    border: none;
    border-radius: 20px;
    width: 100%;
    height: 35px;
    box-shadow: none;
    background-color: #f8d7da;
}

.update-pwd-page__right-panel__message {
    color: rgb(255, 0, 0);
    text-align: left;
}
