* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif; /* 400 600 700 */
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}